// -- Colors --

$purple:#5D5FEF;
$darkPurple: #6750A4;
$lightPurple: #F3EDF7;
$darkGrey: #79747E;
$lightGrey: #CAC4D0;
$black: #1D1B20;
$lightBlack: #49454F;
$white: #F5F5F5;
$gray: #FEF7FF;
$danger: #d4403a;
$lila:#FAD7FF;


